%center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%global_btn {
    border-radius: 5px;
    background: #C9453B;
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    line-height: 150%;
    border: none;
}

%btn_hover {
    background: #d16058;
}

%btn_active {
    background: red;
    color: darkseagreen;
}

header {
    width: 100%;
    height: 100vh;
    padding: 35px 150px;
    background: url(../../images/header.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;

    nav {
        @extend %center;

        p {
            color: #FFF;
            font-family: Ribeye;
            font-size: 24px;
            line-height: 150%;
            letter-spacing: 1.44px;
        }

        ul {
            @extend %center;
            gap: 50px;
            list-style: none;
        }

        a {
            text-decoration: none;
            color: #FFF;
            font-family: Roboto500;
            font-size: 18px;
            line-height: 150%;
        }

        .nav_btn {
            @extend %global_btn;
            padding: 14px 36px;
        }

        .nav_btn:hover {
            @extend %btn_hover;
        }

        .nav_btn:active {
            @extend %btn_active;
        }
    }

    main {
        .main_title {
            max-width: 804px;
            color: #FFF;
            font-family: Gelasio700;
            font-size: 65px;
            line-height: 120%;
            margin-top: 150px;
        }

        .main_text {
            max-width: 458px;
            color: #FFF;
            font-family: Roboto;
            font-size: 18px;
            line-height: 160%;
            margin-top: 30px;
        }
        .main_btn{
            @extend %global_btn;
            padding: 18px 46px;
            margin-top: 50px;
        }
        .main_btn:hover{
            @extend %btn_hover
        }
        .main_btn:active{
            @extend %btn_active
        }
    }
}


@media (min-width: 1501px) {
    header{
        padding: 35px 230px;
        nav{
            .bar{
                display: none;
            }
        }
    }
}
@media (min-width: 1201px) and (max-width: 1500px) {
    header{
        padding: 35px 150px;
        nav{
            .bar{
                display: none;
            }
        }
    }
}
@media (min-width: 991px) and (max-width: 1200px) {
    header{
        padding: 35px 100px;
        nav{
            ul{
                gap: 40px;
            }
            .bar{
                display: none;
            }
        }
    }
}
@media (min-width: 770px) and (max-width: 990px) {
    header{
        padding: 35px 100px;
        nav{
            ul{
                display: none;
            }
            .nav_btn{
                display: none;
            }
            .bar{
                display: block;
                font-size: 30px;
                color: #fff;
            }
        }
    }
}
@media (min-width: 448px) and (max-width: 769px) {
    header{
        padding: 35px 70px;
        nav{
            ul{
                display: none;
            }
            .nav_btn{
                display: none;
            }
            .bar{
                display: block;
                font-size: 30px;
                color: #fff;
            }
        }
        main{
            .main_title{
                font-size: 36px;
            }
        }
    }
}
@media (max-width: 447px) {
    header{
        padding: 30px 30px;
        nav{
            ul{
                display: none;
            }
            .nav_btn{
                display: none;
            }
            .bar{
                display: block;
                font-size: 30px;
                color: #fff;
            }
        }
        main{
            .main_title{
                font-size: 36px;
                margin-top: 130px;
            }
            .main_text{
                font-size: 16px;
            }
        }
    }
}